* {
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Robot',sans-serif';
    margin 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2.5em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.2em;}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(202, 45, 24, 0.814);
}

button:hover{
    background-color: rgba(161, 36, 19, 0.814);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.cambio-color{ color:blueviolet; } /* no jala, no sé por qué*/

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(161, 36, 19, 0.814);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: colum;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgba(161, 36, 19, 0.814);
}

#hero{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;

}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1em;
}

#Soy-Arath{
    
}

#Soy-Arath .container{
    text-align: center;
    padding: 200px 12px;
}

#Nuestros-Programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Nuestros-Programas .container{
    padding: 100px 12px;
}

#Nuestros-Programas h2{
    margin-top: 0;
    font-size: 2.5em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 500px;
    margin: 20px;
    border-radius: 15px;
/* No me funcionó esto, ¿por qué?*/
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(arathytobi2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
    

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(Arathytobi.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
    

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(udlap.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
    
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
   margin: 50px;
   margin-top: 0%;
   font-size: 5vw;
    
}

#footer{
    background-color: bisque;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
}

    #hero h1{
        font-size: 4em;

    }

     #Soy-Arath .container{
         display: flex;
        justify-content: space-evenly;

}

    #Soy-Arath .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

}

    #Soy-Arath h2{
        margin-top: 0px;

    }


    #Soy-Arath .img-container{
        background-image: url("4.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;

    }

    #Nuestros-Programas .programas{
        display: flex;
        justify-content: center;
    }

    #Nuestros-Programas p{
        display: block;
        margin-bottom: 30px;
    }

    #Nuestros-Programas h2{
        font-size: 4em;

    }

    #Nuestros-Programas h3{
        margin-top: 0;
    }

    #Nuestros-Programas .carta{
        padding: 15px;
        background-position-y: 0;
        background-color: rgb(50, 50, 50);
        box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(perro1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 0px;
        margin: 20px;
        border-radius: 15px;
        
    
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(perro2.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 0px;
        margin: 20px;
        border-radius: 15px;
        
    
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(perro3.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 0px;
        margin: 20px;
        border-radius: 15px;
        
    }

    #caracteristicas{
        background-image: url("2.jpg");
        background-repeat: no-repeat;
        background-size: 250px 400px;
        background-position: calc(100vw - 500px) 100px;


    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 3em;
    }

    #final button{
        font-size: 0.5em;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin: 50px;
        margin-top: 0%;
        font-size: 5vw;

    }

    footer .container{
        justify-content: flex-end;
    }


    @media (min-width: 1100px) {
        #caracteristica{
            background-position: calc(1200vw - 800px);
        }
    }

}